<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns   = "http://www.w3.org/ns/widgets"
    xmlns:gap   = "http://phonegap.com/ns/1.0"
    id          = "com.harkonnen.ttcarga"
    versionCode = "10"
    version     = "1.0.1" >

  <name>TTCarga</name>

  <description>
    Carga de puntos
  </description>

  <author href="https://www.linkedin.com/in/tocado157" email="tocado157@gmail.com">
    ToCaDo157
  </author>
  <icon src="images/logo.png" />
  <preference name="exit-on-suspend"            value="true" />
  <preference name="android-minSdkVersion" value="17" />
  <gap:plugin name="cordova-plugin-whitelist" source="npm" />
  <gap:plugin name="phonegap-plugin-local-notification" source="npm" />
  
  <gap:plugin name="cordova-plugin-x-socialsharing" source="npm" />
  <plugin name="cordova-plugin-network-information" spec="~2.0.2" />
  <access origin="*" />
  <access origin="whatsapp:*" launch-external="yes" />  
  <allow-intent href="*" />
  <allow-navigation href="*" />  
</widget>
